name: publish

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/_build_wheels.yaml

  upload_all:
    name: Upload wheels to PyPI
    needs: [build]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: wheel
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.13.0
