name: vscode ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          package-manager-cache: false

      - run: pnpm install --frozen-lockfile
        working-directory: vscode

      - run: pnpm run -C vscode lint
        working-directory: vscode

      - run: pnpm run -C vscode build
        working-directory: vscode
